.modal{
    border: 1px solid rgb(227, 227, 227);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    position: fixed;
    z-index: 99;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) ;
    background-color: white;
    animation: scaleUp 0.4s ease-out;
    
}
.modalnormal{
    width: 50vw;
}
.modalsmall{
    width: 30vw;
}
.modallarge{
    width: 90vw;
}
.overlay{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000054;
}
.header{
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 0.6rem 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close > img{
    width: 20px;
}
.body {
    padding: 1rem 1rem;
    overflow-y: auto;
    max-height: 76vh;
}
.footer{
    border-top: 1px solid rgb(243, 243, 243);
    padding: 0.6rem 1rem;
}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: translate(-50%,10%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%,0);
    }
}
@media screen and (max-width: 1200px) {
    .modalnormal{
        width: 80vw;
    }
    .modalsmall{
        width: 60vw;
    }
    .modallarge{
        width: 95vw;
    }
}
@media screen and (max-width: 756px) {
    .modalnormal{
        width: 95vw;
    }
    .modalsmall{
        width: 95vw;
    }
    .modallarge{
        width: 95vw;
    }
}
