.resizer{
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 47px;
    width: 3px;
    background-color: #27bbff;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
}
.resizer.isResizing{
    background-color: #2eff31;
    opacity: 1;
}
*:hover > .resizer {
    opacity: 1;
}
